<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.herb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".marshmallow"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".stjohn"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".sage"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".rosemary"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".parsley"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".dandelion"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".celery"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".oregano"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".holybasil"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".lotus"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".peppermint"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".lemonbalm"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".chamomile"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".lavender"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".jasmine"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".gingko"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".lemon"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".papaya"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".chili"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".cayenne"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".marygold"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".daisy"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".alovera"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".GarlicActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".mainmenu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>